/* モバイルファースト */

/* ⬇︎⬇︎⬇︎⬇︎　全体　⬇︎⬇︎⬇︎⬇︎ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

section{
  padding-top: 60px;
  padding-bottom: 80px;
}

.clippath{
  /* ⬇︎斜めの区切り */
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);

}

section:nth-child(2n){
  background-color: #058BD4;
  color: #E0EBF3;
}


#top__image img{
  object-fit: cover;
  height: 900px;
}

/* ⬇︎⬇︎⬇︎⬇︎　PCでは表示しない場合　⬇︎⬇︎⬇︎⬇︎ */
.pc{
  display: none;
}

/* ⬇︎⬇︎⬇︎⬇︎　imgサイズ　⬇︎⬇︎⬇︎⬇︎ */
img{
  width: 100%;
}

/* ⬇︎⬇︎⬇︎⬇︎　h1,h2,h3,p　⬇︎⬇︎⬇︎⬇︎ */
h1{
  font-size: 24px;
  line-height: 2;
  font-weight: bold;
  margin-left: 10px;
}

h2{
  font-size: 21px;
  line-height: 1.8;
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

h3{
  font-size: 18px;
  line-height: 1.6;
}

p{
  font-size: 16px;
  line-height: 1.6;
}




/* ⬇︎⬇︎⬇︎⬇︎　ハンバーガーメニュー　⬇︎⬇︎⬇︎⬇︎ */
nav {
  display: block;
  width: 220px;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 4;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 1rem;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background-color: #e4e4e4;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle-btn span {
  background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.9;
  cursor: pointer;
  z-index: 3;
}

/* ⬇︎⬇︎⬇︎⬇︎　事業内容　⬇︎⬇︎⬇︎⬇︎ */
.work__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__item{
  margin: 4px;
  text-align: center;
  width: calc(100%/2 - 8px);
  /* border: 2px solid blue; */
  border-radius: 5px;
}

.work__item img {
  height: 130px;
  object-fit: cover;
  padding: 3px;
}


/* ⬇︎⬇︎⬇︎⬇︎　会社案内　⬇︎⬇︎⬇︎⬇︎ */
.company__table{
width: 100%;
}

.company__table th,
.company__table td {
border: 1px solid #ccc;
padding: 20px;
}

.company__table th {
font-weight: bold;
background-color: #dedede; 
}

.tel{
  text-align: center;
  font-size: 35px;
}


/* ⬇︎⬇︎⬇︎⬇︎　お問い合わせ　⬇︎⬇︎⬇︎⬇︎ */

#contact{
  height: 250px;
}


/* ⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎ */
/* 481px以上に適用されるCSS（タブレット用） */
@media screen and (min-width: 481px) {

  .pc{
    display: block;
  }

  .mobile{
    display: none;
  }

}




/* ⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎ */
/* 960px以上に適用されるCSS（PC用） */
@media screen and (min-width: 960px) {
  body{
    max-width: 1400px;
    margin: auto;
  }

  .pc{
    display: block;
  }

  .mobile{
    display: none;
  }

}
