/* モバイルファースト */

/* ⬇︎⬇︎⬇︎⬇︎　全体　⬇︎⬇︎⬇︎⬇︎ */
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/* ⬇︎⬇︎⬇︎⬇︎　PCでは表示しない場合　⬇︎⬇︎⬇︎⬇︎ */
.pc{
  display: none;
}

/* ⬇︎⬇︎⬇︎⬇︎　imgサイズ　⬇︎⬇︎⬇︎⬇︎ */
img{
  width: 100%;
}

header{
  height: 48px;
}

/* ⬇︎⬇︎⬇︎⬇︎　h1,h2,h3,p　⬇︎⬇︎⬇︎⬇︎ */
h1{
  font-size: 24px;
  line-height: 2;
}

h2{
  font-size: 21px;
  line-height: 1.8;
}

h3{
  font-size: 18px;
  line-height: 1.6;
}

p{
  font-size: 16px;
  line-height: 1.6;
}

/* ⬇︎⬇︎⬇︎⬇︎　事業内容　⬇︎⬇︎⬇︎⬇︎ */
.work__list{
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__item{
  background-color: yellow;
  margin: 2px;
  text-align: center;
  width: calc(100%/2 - 6px);
}

/* ⬇︎⬇︎⬇︎⬇︎　ハンバーガーメニュー　⬇︎⬇︎⬇︎⬇︎ */
nav {
  display: block;
  width: 220px;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 13;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 1rem;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background-color: #e4e4e4;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle-btn span {
  background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.9;
  cursor: pointer;
  z-index: 12;
}




/* ⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎ */
/* 481px以上に適用されるCSS（タブレット用） */
@media screen and (min-width: 481px) {

  .pc{
    display: block;
  }

  .mobile{
    display: none;
  }

}




/* ⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎⬇︎ */
/* 960px以上に適用されるCSS（PC用） */
@media screen and (min-width: 960px) {
  body{
    max-width: 1400px;
    margin: auto;
  }

  .pc{
    display: block;
  }

  .mobile{
    display: none;
  }

}
